body {
    color: #222;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    height: 92px;
    width: 272px;
    margin-top: 200px;
    margin-bottom: 30px
}

.search-box {
    height: 44px;
    width: 584px;
    background: #fff;
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    z-index: 3;
    font-family: arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 16px;
    line-height: 34px;
}

.search-box:hover, .search-box:focus {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    outline-offset: none;
    outline: none;
}

.search-block {
    width: 584px;
    height: 118px;
    text-align: center;
}

.btn {
    height: 36px;
    line-height: 27px;
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 29px 4px 11px 4px;
    min-width: 54px;
    padding: 0 16px;
}

.btn:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

